{% extends "base.html" %}
{% block content %}
{% load static %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>パスワードリセット</h1>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="form-group">
                    {{ form.email.errors }}
                    {{ form.email }}
                    </div>
                    <button type="submit" class="btn btn-secondary">送信</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}