{% extends "base.html" %}
{% block content %}
{% load static %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>パスワード変更</h1>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="form-group">
                    {{ form.password_before.errors }}
                    {{ form.password_before }}
                    </div>
                    <div class="form-group">
                    {{ form.password_next.errors }}
                    {{ form.password_next }}
                    </div>
                    <div class="form-group">
                    {{ form.password_conf.errors }}
                    {{ form.password_conf }}
                    </div>
                    <button type="submit" class="btn btn-secondary">変更</button>
                </form>
                {% if messages %}
                    <div class="list-group">
                        {% for message in messages %}
                            <span class="list-group-item list-group-item-action list-group-item-warning">{{ message }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}